.modal-content{
    border-radius: .5rem !important;
    padding: 2rem !important;
}

// .modal{
//     overflow: auto;
// }

.modal-title{
    font-size: 16px !important;
}
.modal-header{
    & button{
        & span{
            font-size: 2rem;
        }
    }
}

.modal-body{
    & p{
        color: $color-black;
        & a{
            color: $color-pink;
            font-weight: bold;
        }
    }
}